VITE_PRIVY_APP_ID=
VITE_HELIUS_API_KEY=
VITE_BIRDEYE_API_KEY=
VITE_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY
VITE_JUPITER_API_BASE=https://lite-api.jup.ag/swap/v1
VITE_RAYDIUM_CLUSTER=mainnet
